* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}
body {
   background-color: var(--clr-dark);
   line-height: 1.5;
   font-family: 'Poppins', sans-serif;
}

ul {
   list-style: none;
}

/* Setting colour variables */
:root {
   --clr-primary: #805711;
   --clr-light: #ffe087;
   --clr-dark: #0c2626;
   --clr-accent: #ffb800;
   --clr-text-light: #fdfff5;
   --rgb-white: 255, 255, 255;
}

/* Nav bar styling */

#navbar {
   position: fixed;
   top: 0;
   background-color: var(--clr-primary);
   height: 2rem;
   z-index: 999;
   width: 100%;
}
.nav-links {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;

   ul {
      justify-content: center;
      color: var(--clr-primary);
      text-decoration: none;
      padding: 1rem;
   }

   a {
      padding: 1rem;
      text-align: right;
      text-decoration: none;
      color: var(--clr-text-light);
   }
}

section {
   height: fit-content;
   text-align: center;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 50%;
   max-height: auto;
   height: auto;
   aspect-ratio: 16/9;
   object-fit: cover;
   border-radius: 5%;
}

/* Skip first container (Hero section) */
.container:not(:first-child) {
   background-color: var(--clr-light);
   border-radius: 5%;
   padding: 10%;
   margin: 10%;
}

/* Hero section */
.hero {
   margin-top: 1em;
   background-image: url(../images/honeycomb.jpg);
   background-size: cover;
   background-color: rgb(var(--rgb-white), 0.9);
   background-blend-mode: lighten;

   color: var(--clr-dark);
   padding: 10% 5%;
   text-align: justify;

   #hero-text {
      font-size: clamp(1.5rem, 10vw, 5rem);
      font-family: 'Odibee Sans';
      text-align: center;
   }

   span {
      padding: 0;
      text-decoration: underline var(--clr-accent) wavy;
   }

   p {
      margin-bottom: 4rem;
      background-color: var(--clr-text-light);
   }
}

#hero {
   background-color: rgba(var(--rgb-white), 0);
}

/* Form styling */
#form {
   display: flex;
   justify-content: center;
   align-items: center;
}
form {
   margin: auto;
   width: fit-content;
   fieldset {
      padding: 5px;
   }

   input {
      padding: 1%;
      width: 3.5rem;
      border: none;
      border-radius: 25%;
   }

   .button {
      width: auto;
      font-size: medium;
      font-weight: bold;
      padding: 1.5% 1.5%;
      border: none;
      border-radius: 25%;
      cursor: pointer;
   }
}

/* .calc {
   background-color: var(--clr-accent);
   &:hover {
      background-color: var(--clr-dark);
      color: var(--clr-text-light);
   }
}
.reset {
   background-color: var(--clr-dark);
   color: var(--clr-text-light);
   &:hover {
      background-color: var(--clr-accent);
      color: var(--clr-dark);
   }
} */

.gallery-container {
   text-align: center;
}

.selected-image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px 0;
}

.arrow {
   background-color: var(--clr-dark);
   color: var(--clr-text-light);
   border: none;
   border-radius: 50%;
   padding: 1.5rem 1.5rem;
   cursor: pointer;
}

.arrow:hover {
   background-color: var(--clr-primary);
}

#selected-image {
   width: auto;
   height: 50%;
   margin: 0 20px;
   border: 2px solid var(--clr-primary);
   transition: 500ms;
}

#image-name {
   margin: 1.5rem;
   font-weight: bold;
}

.thumbnail-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1rem;
}

.thumbnail {
   width: 15%;
   height: 15%;
   cursor: pointer;
   border: 2px solid var(--clr-dark);
   object-fit: cover;
}

footer {
   background-image: url(../images/honeycomb.jpg);
   background-size: cover;
   background-color: rgb(255, 255, 255, 0.7);
   background-blend-mode: lighten;
   height: 10rem;
   img {
      max-height: 10rem;
      border-radius: 50%;
   }
}

@media only screen and (max-width: 600px) {
   .arrow {
      border-radius: 50%;
      padding: 1rem 1rem;
      cursor: pointer;
   }

   .selected-image-container {
      justify-content: space-between;
   }

   #selected-image:hover {
      transform: scale(1.75);
   }
}
