* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1.5;
   font-family: 'Poppins';
}

/* Setting colour variables */
:root {
   --med-brown: #805711;
   --australien: #cc9918;
   --broiled-flounder: #ffe087;
   --black-feather: #0c2626;
   --dark-black: #121212;
   --med-black: #1b1b1b;
   --black: #2a2a2a;
   --dark-grey: #727272;
   --selective-yellow: #ffb800;
   --milk: #fdfff5;
}

footer {
   background-color: var(--black-feather);
}

#navbar {
   background-color: var(--black-feather);

   ul {
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding: 1em;
      list-style: none;
      text-align: right;
      text-decoration: none;
      right: 0;
      top: 0;
   }

   a {
      color: var(--milk);
   }
}

body {
   background-color: var(--milk);
   /* width: min(768px, 88%);
   height: 100dvh; */
   /* margin: min(0.5em, 1em, 2.5em); */
   /* padding: min(0.5em, 1em, 2.5em); */
}

section {
   height: 50svh;
   /* margin: min(1em, 1em, 2.5em); */
}

img {
   max-width: 100%;
   height: auto;
   aspect-ratio: 16/9;
   object-fit: cover;
}

#hero-text {
   font-size: clamp(1.5rem, 10vw, 5rem);
   font-family: 'Odibee Sans';
   text-align: center;
}

.hero span {
   color: var(--dark-grey);
}

.hero {
   background-color: var(--broiled-flounder);
   color: var(--black-feather);
}

#follow-mouse {
   position: absolute;
   pointer-events: none;
   width: 3em;
   height: 3em;
   transition: transform 5s ease-in-out;
}
